adminPassword: password
persistence:
  type: pvc
  enabled: true
  accessModes:
    - ReadWriteOnce
  size: 10Gi
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - orgId: 1
        name: prometheus
        type: prometheus
        typeName: Prometheus
        access: proxy
        url: http://prometheus-server.monitoring.svc.cluster.local
        basicAuth: false
        isDefault: true
        jsonData:
          httpMethod: POST
          timeInterval: 5s

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: "ethereum"
        orgId: 1
        folder: ""
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/ethereum

dashboardsConfigMaps:
  ethereum: "ethereum-dashboard"

# https://github.com/grafana/helm-charts/issues/3699
initChownData:
  securityContext:
    capabilities:
      drop: []
